body {
    font-family: 'Roboto', sans-serif;
}

td {
    white-space: normal !important; 
    word-wrap: break-word;  
  }
  table {
    table-layout: fixed;
  }

h2 a {
  color: inherit; 
  text-decoration: inherit; 
}

h2 a:hover {
  color: inherit; 
  text-decoration: inherit; 
}

i {
  color : #555555;
}

.toasty-container {
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.5);
  z-index: 2000;
}

.tooltip-wrapper {
    margin:unset;
    display: inline-block;
    align-items: unset;
    padding:unset;
    font-size: unset;
    font-weight: unset;
    line-height: unset;
    color:unset;
    text-align: unset;
    white-space: unset;
    background-color: unset;
    border:unset;
    border-radius:unset;
}
